<!DOCTYPE html>

<html class="no-js"> <!--<![endif]-->
<head>

  <title>Agency - Home</title>

  <!-- meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">


  <!-- stylesheets -->
  <link rel="stylesheet" href="assets/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="assets/stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="assets/stylesheets/animate.css">
  <link rel="stylesheet" href="assets/stylesheets/owl.carousel.css">
  <link rel="stylesheet" href="assets/stylesheets/owl.theme.css">
  <link rel="stylesheet" href="assets/stylesheets/style.css">


  <!-- scripts -->
  <script type="text/javascript" src="assets/javascripts/modernizr.custom.97074.js"></script>

</head>

<body>
<div class="main-content">

    <!--  begin intro section -->

    <section class="intro bg-light-gray">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
          </div>

          <div class="col-md-7">
            <div class="intro-description">
              <h2>About Us</h2>
              <p>
                We are a group of students from AIT currently doing our Master's in Computer Science. We are all together 4 members ino our group.               </p>

              <ul class="points">
                <li>
                                            <span>
                                                <i class="fa fa-star"></i>
                                            </span>
                  You can select not only one but up to 5 countries that you desire.
                </li>
                <li>
                                            <span>
                                                <i class="fa fa-star"></i>
                                            </span>
                  You can select not only one but up to 5 subject that you desire.
                </li>
                <li>
                                            <span>
                                                <i class="fa fa-star"></i>
                                            </span>
                  You can select the desired time range.
                </li>
		<li>
                                            <span>
                                                <i class="fa fa-star"></i>
                                            </span>
                  We provide both tabular and graphical representaion according to your desire. 
                </li>
		<li>
                                            <span>
                                                <i class="fa fa-star"></i>
                                            </span>
                  The results can exported in CSV,JPEG,PNG,SVG,PDF format too.
                </li>
                
              </ul> <!-- end of /.points -->

             
            </div> <!-- end of /.intro-description -->
          </div>
        </div>
      </div> <!-- end of /.container -->
    </section>
    <!--  end of intro section -->

</body>
</html>

