<!DOCTYPE html>

<html class="no-js"> <!--<![endif]-->
<head>

  <title>Agency - Home</title>

  <!-- meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">


  <!-- stylesheets -->
  <link rel="stylesheet" href="assets/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="assets/stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="assets/stylesheets/animate.css">
  <link rel="stylesheet" href="assets/stylesheets/owl.carousel.css">
  <link rel="stylesheet" href="assets/stylesheets/owl.theme.css">
  <link rel="stylesheet" href="assets/stylesheets/style.css">


  <!-- scripts -->
  <script type="text/javascript" src="assets/javascripts/modernizr.custom.97074.js"></script>

</head>

<body>

<div id="home-page">


  <!-- site-navigation end -->


  <!-- header start -->
  <header id="header" class="header-wrapper home-parallax home-fade">
    <div class="header-overlay"></div>
    <div class="header-wrapper-inner">
      <div class="container">

        <div class="welcome-speech">
          <h1>Welcome</h1>
          <p>Everything you need is in here</p>
                  </div><!-- /.intro -->

      </div><!-- /.container -->

    </div><!-- /.header-wrapper-inner -->
  </header>
  <!-- /#header -->

  <div class="main-content">

    <!--  begin intro section -->

    <section class="intro bg-light-gray">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <img src="assets/images/intro.jpg" class="img-responsive center-block" alt="intro">
          </div>

          <div class="col-md-7">
            <div class="intro-description">
              <h2>The best place to enhance your knowledge</h2>
              <p>
                We provide various statistics on subjects such as employment rate, general government gross debt, gross national savings and many more for more than 50 countries. We also allow you to select multiple countries as well as multiple subjects along with the specific time range that you desire.               </p>

              <ul class="points">
                <li>
                                            <span>
                                                <i class="fa fa-star"></i>
                                            </span>
                  You can select not only one but up to 5 countries that you desire.
                </li>
                <li>
                                            <span>
                                                <i class="fa fa-star"></i>
                                            </span>
                  You can select not only one but up to 5 subject that you desire.
                </li>
                <li>
                                            <span>
                                                <i class="fa fa-star"></i>
                                            </span>
                  You can select the desired time range.
                </li>
		<li>
                                            <span>
                                                <i class="fa fa-star"></i>
                                            </span>
                  We provide both tabular and graphical representaion according to your desire. 
                </li>
		<li>
                                            <span>
                                                <i class="fa fa-star"></i>
                                            </span>
                  The results can exported in CSV,JPEG,PNG,SVG,PDF format too.
                </li>
                
              </ul> <!-- end of /.points -->

             
            </div> <!-- end of /.intro-description -->
          </div>
        </div>
      </div> <!-- end of /.container -->
    </section>
    <!--  end of intro section -->


    <!--  begin feature section  -->
    <section class="bg-white feature">
      <div class="container">
        <div class="row">

          <div class="col-md-3">
            <div class="feature-content text-center">
              <div class="feature-icon-box">
                <div class="feature-icon center-block">
                  <i class="fa fa-laptop"></i>
                </div>
              </div> <!--  end of /.feature-icon-box  -->
              <div class="feature-info">
                <h3 class="feature-heading">Responsive &amp; Multi-purpose</h3>
                <p class="feature-description">
                  
                </p>  <!--   end of /.feature-description  -->
              </div> <!--   end of /.feature-info  -->
            </div> <!--  end of /.feature-content  -->
          </div>

          <div class="col-md-3">
            <div class="feature-content text-center">
              <div class="feature-icon-box">
                <div class="feature-icon center-block">
                  <i class="fa fa-eye"></i>
                </div>
              </div> <!--  end of /.feature-icon-box  -->
              <div class="feature-info">
                <h3 class="feature-heading">Easy &amp; Clear</h3>
                <p class="feature-description">
                  
                </p>  <!--   end of /.feature-description  -->
              </div> <!--   end of /.feature-info  -->
            </div> <!--  end of /.feature-content  -->
          </div>

          <div class="col-md-3">
            <div class="feature-content text-center">
              <div class="feature-icon-box">
                <div class="feature-icon center-block">
                  <i class="fa fa-thumbs-o-up"></i>
                </div>
              </div> <!--  end of /.feature-icon-box  -->
              <div class="feature-info">
                <h3 class="feature-heading">Best UX</h3>
                <p class="feature-description">
                  
                </p>  <!--   end of /.feature-description  -->
              </div> <!--   end of /.feature-info  -->
            </div> <!--  end of /.feature-content  -->
          </div>

          <div class="col-md-3">
            <div class="feature-content text-center">
              <div class="feature-icon-box">
                <div class="feature-icon center-block">
                  <i class="fa fa-star"></i>
                </div>
              </div> <!--  end of /.feature-icon-box  -->
              <div class="feature-info">
                <h3 class="feature-heading">Good Feedback</h3>
                <p class="feature-description">
                  
                </p>  <!--   end of /.feature-description  -->
              </div> <!--   end of /.feature-info  -->
            </div> <!--  end of /.feature-content  -->
          </div>

        </div>
      </div> <!-- end of /.container -->
    </section>
    <!--   end of feature section  -->


   

    <!--  begin testimonial section  -->

    <section class="bg-light-gray">
      <div class="container">

        <div class="headline text-center">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <h2 class="section-title">testimonials</h2>
              <p class="section-sub-title">
                absolutely stunning design &amp; functionality
              </p> <!-- /.section-sub-title -->
            </div>
          </div>
        </div> <!-- /.headline -->

        <div id="client-speech" class="owl-carousel owl-theme">

          <div class="item">
            <div class="row">
              <div class="col-md-6">
                <div class="client-box">
                  <div class="about-client">
                    <img src="assets/images/Nabil.jpg" alt="Nabil">
                    <p class="client-intro">technext-ceo</p>
                  </div> <!-- end of /.about-client -->
                  <div class="main-speech">
                    <p>
                      Nabil Karim, Senior Developer
                    </p>
                  </div> <!-- end of /.main-speech  -->
                </div> <!-- end of /.client-box -->
              </div>

              <div class="col-md-6">
                <div class="client-box">
                  <div class="about-client">
                    <img src="assets/images/Teera.jpg" alt="Teera">
                    <p class="client-intro"></p>
                  </div> <!-- end of /.about-client -->
                  <div class="main-speech">
                    <p>
                      Teera Kritpranam,
                      Senior Developer
                    </p>
                  </div> <!-- end of /.main-speech  -->
                </div> <!-- end of /.client-box -->
              </div>
            </div>
          </div>

          <div class="item">
            <div class="row">
              <div class="col-md-6">
                <div class="client-box">
                  <div class="about-client">
                    <img src="assets/images/Shyam.jpg" alt="Shyam">
                    <p class="client-intro"></p>
                  </div> <!-- end of /.about-client -->
                  <div class="main-speech">
                    <p>
                      Shyam Bhattarai, Junior Developer, Tester
                    </p>
                  </div> <!-- end of /.main-speech  -->
                </div> <!-- end of /.client-box -->
              </div>

              <div class="col-md-6">
                <div class="client-box">
                  <div class="about-client">
                    <img src="assets/images/Sanim.jpg" alt="Sanim">
                    <p class="client-intro">technext-ceo</p>
                  </div> <!-- end of /.about-client -->
                  <div class="main-speech">
                    <p>
                      Sanim Shakya, Tester, Designer
                    </p>
                  </div> <!-- end of /.main-speech  -->
                </div> <!-- end of /.client-box -->
              </div>
            </div>
          </div>


        </div> <!-- end of /#client-speech  /.owl-carousel -->

      </div> <!-- end of .container -->
    </section>
    <!--  end of testimonial  section -->

  </div> <!-- end of /.main-content -->

  <footer>
    <div class="container">
      <div class="row">

        <!-- useful links -->
        <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
          <h4>Useful Links</h4>
          <ul class="row footer-links">
            <div class="col-md-6 col-sm-6 col-xs-6">
              <li><a href="#">Web Design</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Mobile</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Services</a></li>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6">
              <li><a href="#">Organization</a></li>
              <li><a href="#">Career</a></li>
              <li><a href="#">Media</a></li>
              <li><a href="#">24/7</a></li>
              <li><a href="#">Right Way</a></li>
            </div>
          </ul>
        </div>

        <!-- recent news -->
        <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
          <h4>Recent News</h4>

          <div class="row footer-news">
            <div class="col-md-4 col-sm-4 col-xs-6">
              <img src="assets/images/intro.jpg" class="img-responsive center-block" alt="recent news 1">
            </div>
            <div class="col-md-8 col-sm-4 col-xs-6">
              <div class="row">
                <p class="text-capitalize">
                  <a href="#">
                    a clear website gives more experience to the visitors
                  </a>
                </p>
                <p class="news-date">Dec 12,2015</p>
              </div>
            </div>
          </div> <!-- /.footer-news -->

          <div class="row footer-news">
            <div class="col-md-4 col-sm-4 col-xs-6">
              <img src="assets/images/intro.jpg" class="img-responsive center-block" alt="recent news 2">
            </div>
            <div class="col-md-8 col-sm-4 col-xs-6">
              <div class="row">
                <p class="text-capitalize">
                  <a href="#">
                    a clear website gives more experience to the visitors
                  </a>
                </p>
                <p class="news-date">Dec 12,2015</p>
              </div>
            </div>
          </div> <!-- /.footer-news -->
        </div> <!-- /.footer-widget -->

        <!-- news-letter -->
        <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
          <h4>E-News-Letter</h4>

          <p>Sign up for our mailing list to get latest updates and offers</p>
          <div class="input-group margin-bottom-sm">
            <input class="form-control" type="text" placeholder="Email address">
                                <span class="input-group-addon">
                                    <i class="fa fa-paper-plane fa-fw"></i>
                                </span>
          </div>
          <p>We respect your privacy</p>
        </div> <!-- /.footer-widget -->

        <!-- about avada agency -->
        <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
          <h4>Avada Agency</h4>

          <p>
            HUGE Website Builder is a big library of pre-designed web elements which help you to create website in few minutes.
          </p>

          <div class="footer-address">
            <p>
              1-800-123-HELLO  <br>
              example@mail.com
            </p>
          </div>

          <div class="row">
            <div class="col-md-12">
              <ul class="footer-share-button">
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              </ul> <!-- /.footer-share-button -->
            </div>
          </div>
        </div> <!-- /.footer-widget -->

      </div>
    </div>
  </footer>


  <!-- footer-navigation start -->
  <nav class="hidden-xs hidden-sm navbar footer-nav" role="navigation">
    <div class="container">

      <div class="navbar-header">

        <!-- navbar logo -->
        <div class="navbar-brand">
          <span class="sr-only">&copy;THEMEWAGON</span>
          <a href="index.html">
            &copy;THEMEWAGON
          </a>
        </div>
        <!-- navbar logo -->

      </div><!-- /.navbar-header -->

      <!-- nav links -->
      <div class="collapse navbar-collapse" id="main-nav-collapse">
        <ul class="nav navbar-nav navbar-right text-capitalize">
          <li><a href="#about">
            <span>home</span>
          </a></li>

          <li><a href="#services">
            <span>pages</span>
          </a></li>

          <li><a href="#portfolio">
            <span>features</span>
          </a></li>

          <li><a href="#team">
            <span>portfolio</span>
          </a></li>

          <li><a href="#pricing">
            <span>blog</span>
          </a></li>

          <li><a href="#blog">
            <span>shop</span>
          </a></li>

          <li><a href="#contact">
            <span>contact</span>
          </a></li>
        </ul>
      </div><!-- nav links -->

    </div><!-- /.container -->
  </nav>
  <!-- footer-navigation end -->

</div> <!-- end of /#home-page -->

<!--  Necessary scripts  -->

<script type="text/javascript" src="assets/javascripts/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="assets/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/javascripts/owl.carousel.js"></script>
<script type="text/javascript" src="assets/javascripts/jquery.hoverdir.js"></script>


<!-- script for portfolio section using hoverdirection -->
<script type="text/javascript">
  $(function() {

    $('.portfolio-item > .item-image').each( function() { $(this).hoverdir({
      hoverDelay : 75
    }); } );

  });
</script>


<!-- script for twitter-feed using owl carousel-->
<script type="text/javascript">
  $(document).ready(function() {

    $("#twit").owlCarousel({

      navigation : true, // Show next and prev buttons
      slideSpeed : 100,
      paginationSpeed : 400,
      navigationText : false,
      singleItem: true,
      autoPlay: true,
      pagination: false
    });

  });
</script>


<!-- script for testimonial section using owl carousel -->
<script type="text/javascript">
  $(document).ready(function() {

    $("#client-speech").owlCarousel({

      autoPlay: 5000, //Set AutoPlay to 3 seconds
      stopOnHover: true,
      singleItem:true
    });

  });
</script>


</body>
</html>
